body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #ee871e;
    text-align: center;
    padding: 20px 0;
  }

  .logo {
    width: 135px;
    border-radius: 50%; /* Coins arrondis */
    overflow: hidden; /* Pour que le border-radius s'applique */
  }
  
  .logo img {
    width: 100%;
  }
  
  h1 {
    margin: 0 auto;
    justify-content: center;
  }
  
  main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .membre {
    text-align: center;
    width: 30%;
    margin-bottom: 20px;
  }
  
  .membre img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #ee871e;
    color: noir;
    text-align: center;
    padding: 10px 0;
  }
  