body {
    font-family: Arial, sans-serif;
  }
  
  .calendar {
    text-align: center;
  }
  
  .month-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .prev-month,
  .next-month {
    cursor: pointer;
    margin: 0 10px; /* Ajout de marges autour des flèches */
  }
  
  .month-name {
    font-size: 20px;
    font-weight: bold;
  }
  
  .month {
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 10px;
  }
  
  .day {
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    transition: background-color 0.3s; /* Transition pour une animation fluide */
  }
  
  /* Style pour le survol */
  .day:hover {
    background-color: lightgray;
  }
  .popup {
    position: fixed;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .close-popup {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
  