.calendar {
    width: 560px; /* Ajuster la largeur pour accueillir 7 colonnes */
    margin: 0 auto;
}

.month-header {
    text-align: center;
    margin-bottom: 10px;
}

.weekdays {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.day {
    width: calc(100% / 7);
    text-align: center;
}

.days {
    display: flex;
    flex-wrap: wrap;
}

.day-item {
    width: calc(100% / 7);
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.day-item.booked {
    background-color: #f00;
    color: #fff;
}

.day-item.selected {
    background-color: #00f;
    color: #fff;
}

.day-item:hover {
    background-color: lightgray;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup-content {
    position: relative;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    cursor: pointer;
}

.popup-content h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

.popup-content h3 {
    margin-top: 15px;
    font-size: 16px;
}

#time-options {
    margin-top: 10px;
}

.time-option {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
}

.time-option:hover {
    background-color: #0056b3;
}
