body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #fffaee;
    padding: 20px;
}

h1 {
    color: #d81d09;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.user-info-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.avatar {
    margin-right: 20px;
}

.avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #d81d09;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #aa160c;
}

.edit-profile {
    text-align: center;
}

.edit-profile a {
    background-color: #d81d09;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.edit-profile a:hover {
    background-color: #ee871e;
}
