<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu du Restaurant</title>
  <link rel="stylesheet" href="menu.css">
</head>
<body>

<header>
  <h1>Menu</h1>
</header>

<main>
  <section class="categorie">
    <img src="entrees.jpg" alt="Entrées">
    <h2>Entrées</h2>
    <ul>
      <li>Salade César  -  16.00€   </li>
      <li>Tomates mozzarella di Buffala, du basilic frais, de l’huile d’olive et quelques câpres  -  19,00€</li>
      <li>Aubergine et burrata en millefeuille, pesto de roquette  -  18.00€</li>
      <li>Focaccia et charcuteries fines Italiennes, légumes grillés  -  19.00€</li>
      <li>Aubergine et burrata en millefeuille, pesto de roquette  -  18.00€</li>
      <li>Bruschetta, tomate et chèvre, pesto à la Génovèse  -  18.00€</li>
      <li>Cassolette de palourdes, ail et persil  -  22.00€</li>
      <li>Antipasto terre et mer  -  27.00€</li>
      <li>Mozzarella fritta, salsa di Pomodoro piccante, mesclun  -  23.00€</li>
    </ul>
  </section>

  <section class="categorie">
    <img src="PastaVierge.jpg" alt="Pâtes">
    <h2>Pâtes</h2>
    <ul>
        <li>Penne à la Sicilienne  -  19.00€   </li>
        <li>Pappardelles et « champignons du moment », crème de truffe noire  -  25,00€</li>
        <li>Lasagne à la bolognaise gratinée, mesclun gourmand  -  20.00€</li>
        <li>Linguines sautées aux artichauts, purée de tomate séchée  -  19.00€</li>
        <li>Gnocchi à la crème de pesto, copeaux de parmesan  -  19.00€</li>
        <li>Conchiglie à la crème de saumon  -  21.00€</li>
        <li>Penne all’Arrabiata  -  16.00€</li>
        <li>Linguine aux fruits de mers  -  29.00€</li>
        <li>Linguini alle vongole  -  26.00€</li>
    </ul>
  </section>

  <section class="categorie">
    <img src="pizza.jpg" alt="Pizza">
    <h2>Pizza</h2>
    <ul>
        <li>Margherita  -  15.00€   </li>
        <li>Napolitaine  -  17,00€</li>
        <li>Forestière  -  19.00€</li>
        <li>Pipetta  -  18.00€</li>
        <li>Folle de saumon  -  19.50€</li>
        <li>Verdure  -  18.00€</li>
        <li>Quatre fromages  -  19.00€</li>
        <li>Calzone  -  18.00€</li>
        <li>Nordique  -  19.50€</li>
        <li>Chèvre Miel  -  18.00€</li>
    </ul>
  </section>

  <section class="categorie">
    <img src="desserts.jpg" alt="Desserts">
    <h2>Desserts</h2>
    <ul>
        <li>Café ou thé gourmand  -  11.00€   </li>
        <li>Café ou thé très gourmand  -  15,00€</li>
        <li>Planche de fromages fins Italiens, focaccia -  12.00€</li>
        <li>Pizza au Nutella  -  11.00€</li>
        <li>Mille-feuille aux framboises, coulis de fruits rouges  -  10.50€</li>
        <li>Tiramisu crémeux aux noisettes  -  11.00€</li>
        <li>Panna cotta aux fruits rouges, coulis  -  11.00€</li>
        <li>Coupe Amarena  -  12.00€</li>
        <li>Carpaccio d’ananas au citron vert, sorbet passion  -  11.50€</li>
        <li>Crème brulée à la cassonade  -  11.00€</li>
    </ul>
  </section>

  <section class="categorie">
    <img src="boissons.jpg" alt="Boissons">
    <h2>Boissons Soft</h2>
    <ul>
      <li>Eau Minérale</li>
      <li>Jus de Fruits</li>
      <li>Soda</li>
    </ul>
  </section>

  <section class="categorie">
    <img src="boissons.jpg" alt="Boissons">
    <h2>Boissons Alcools</h2>
    <ul>
      <li>Eau Minérale</li>
      <li>Jus de Fruits</li>
      <li>Soda</li>
    </ul>
  </section>

  <section class="categorie">
    <img src="menu_enfant.jpg" alt="Menu Enfant">
    <h2>Menu Midi</h2>
    <ul>
      <li> Menu Midi E/P ou P/D </li>
      <li> Entrée et Plat ou Plat et Dessert </li>
      <li> 20,50€ </li>
      <li> ***    ***</li>
      <li> Menu Midi E/P/D </li>
      <li> Entrée, Plat et Dessert</li>
      <li> 24,50€ </li>
    </ul>
    </section>

    <section class="categorie">
        <img src="menu_enfant.jpg" alt="Menu Enfant">
        <h2>Menu Collectif ( + de 8 personnes)</h2>
    <ul>
        <li> Menu Midi E/P ou P/D </li>
        <li> Entrée et Plat ou Plat et Dessert </li>
        <li> 17,50€ / pers </li>
        <li> ***    ***</li>
        <li> Menu Midi E/P/D </li>
        <li> Entrée, Plat et Dessert</li>
        <li> 21,50€ / pers </li>
    </ul>
    </section>

  <section class="categorie">
    <img src="menu_enfant.jpg" alt="Menu Enfant">
    <h2>Menu Enfant</h2>
    <ul>
      <li> Jusqu’à 8 ans </li>
      <li> 13,00€ </li>
      <li> Pizza Bunny</li>
      <li> + 1 boule de glace </li>
      <li> + boisson soft</li>
    </ul>
  </section>
</main>

<footer>
  <p>© 2024 Chez Tonton Sergio</p>
</footer>

</body>
</html>
