<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Utilisateur</title>
    <link rel="stylesheet" href="profil.css">
</head>
<body>
    <header>
        <h1>Profil Utilisateur</h1>
    </header>
    <main>
        <div class="user-info-container">
            <div class="profile-info">
                <div class="avatar">
                    <img id="avatarPreview" src="Avatar 17.jpg" alt="Avatar de l'utilisateur">
                </div>
                <div class="form-group user-details">
                    <h2 id="userName">Nom d'utilisateur</h2>
                    <p><strong>Email:</strong> <span id="userEmail">utilisateur@example.com</span></p>
                    <p><strong>Numéro de téléphone:</strong> <span id="userPhone">+33 6 12 34 56 78</span></p>
                    <p><strong>Mot de passe:</strong> <span id="userPassword">*********</span></p>  
                </div>
            </div>
            <div class="edit-profile">
                <a href="modifierProfil.html">Modifier le Profil</a>
                <a href="home.html">Accueil</a>
            </div>
        </div>
    </main>
    <script src="profil.js"></script>
</body>
</html>
